.project_container {
    min-height: 85vh;
    color: black;
}

@media (max-width:400px) {
    .project_inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}
 .card {
    position: relative;
    box-shadow: 10px 10px 4px rgba(8, 7, 7, 0.1);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.card:hover {
    animation: none;
} 

@keyframes example {
    0%,50%,100% {
        transform: translateY(10px);
    }

    25%, 75% {
        transform: translateY(0px);
    }  
} 

