.footer{  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    min-height: 100px;
    position: relative;
    bottom: 0; 
} 
.footer .first,.second,.third{ 
    width: 300px;
} 

p a{ 
    border: 1px solid saddlebrown;
    margin: auto;
}
p a:hover{
    background-color:#00acee;
}
p a:hover:last-child{
background-color: #feda75;
}
.pointer{
    cursor: pointer;
    color: white;
    text-decoration: underline solid white;
}

.pointer:hover{
    cursor: pointer;
    color: white;
    text-decoration: underline solid white;
    text-decoration: 2px underline solid rgb(85, 166, 65);

}