.footer{  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100;
    position: relative;
    bottom: 0; 
    padding-bottom: 10px;
} 
.footer .first,.second,.third{ 
    width: 300px;
} 

.pointer{
    display: block;
    cursor: pointer;
    color: white;
    position: relative;
    width: fit-content;
    text-decoration: none;
    text-align: center;
}
.pointer::before{
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  bottom: 0;
  left:0;
  background-color: rgb(85, 166, 65);
  transition: width 0.3s ease-in-out;
}
.pointer:hover::before{
    width: 100%;
}

